.it {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(228, 19, 165);
    padding: 12px;
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;

}

.btn-group {
    display: flex;
    gap: 25px;
    align-items: center;
}

.input {
    padding: 7px 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgb(196, 28, 145);
    width: 100%;
    background-color: rgb(239, 236, 240);

}

.input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0;
}

.btn {
    padding: 20px;
    border-radius: 50%;
    border: 1px solid rgb(196, 28, 145);
    outline: none;
    background-color: rgb(239, 236, 240);
}

.heading {
    text-align: center;
    font-size: 40px;

}

.todo {
    background-color: rgb(230, 190, 248);
    padding: 40px 40px;
    border-radius: 15px;
    height: 530px;
    width: 500px;
}

.txt-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dddd {
    text-decoration: line-through;
}

.upd {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}